body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(30, 38%, 92%);
}

/* -- CONTAINER -- */
.container{
    background-color: white;
    max-width: 600px;
    border-radius: 10px;
    margin: 0;
}

/* -- PERFUME IMAGE */
.image-container{
    float: left;
    margin: 0;
    max-width: 300px;
}
#perfume-image{
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.image-mobile-container{
    display: none;
}

/* -- CONTENT -- */
.content-container{
    float: left;
    margin: 0;
    max-width: 300px;
}
.content{
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: -5px;
    padding-left: 25px;
    max-width: 100%;
    display: flex;
}

#category, #description, #price-before-discount, .add-to-cart-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
#category{
    letter-spacing: 0.3em;
    margin-top: 28px;
}

#title, #price-at-the-moment{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: hsl(212, 21%, 14%);
    margin: 0;
}
#price-at-the-moment{
    color: hsl(158, 36%, 37%);
}
.price-before-discount-box{
    padding-left: 20px;
    text-decoration: line-through;
}

.add-to-cart-button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: 0;
    min-width: 100%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer; /* use hands!! */
    /* center the cart image */
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.cart-image{
    padding-right: 10px;
}

.add-to-cart-button:hover{
    background-color: hsl(157, 39%, 23%);
}
.add-to-cart-button:focus{
    background-color: hsl(157, 39%, 23%);
}

.attribution{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* -- ACCESSIBILITY -- */
@media only screen and (max-width: 600px){
    .container, .content-container{
        min-width: 100px;
    }
    .content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .image-container{
        display: none;
    }
    .image-mobile-container{
        display: block;
        max-width: 100%;
        margin: 0;
    }
    #perfume-image-mobile{
    width: 300px;
    display: block;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }

    #title, #price-at-the-moment{
        font-size: 26px;
        padding-top: 5px;
    }
    #category, #description{
        font-size: 13px;
        margin-top: 6px;
    }
    #category{
        margin-bottom: 0;
    }
    .add-to-cart-button{
        margin: 0;
        margin-bottom: 15px;
    }

    .attribution{
        font-size: 12px;
    }
}

@media only screen and (max-width: 300px){
    .container, .content-container{
        max-width: 200px;
    }

    #perfume-image-mobile{
    width: 200px;
    }

    #title, #price-at-the-moment{
        font-size: 24px;
    }
    #category, #description{
        font-size: 11px;
    }

    .attribution{
        font-size: 10px;
    }
}